.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightblue;
    color:red;
    width: 100vw;
    height: 100vh;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    /* flex-basis: 20%; */
    /* padding: 10% 0%; */
    flex: 1;
    height: 15vh;
    /* width: 100vw; */
}
.title-container {
    display: flex;
    justify-content: center;
    /* padding-top:  */
} 
.toggle-bar {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    justify-content: space-evenly;
    /* align-self: auto; */
    /* align-items: center; */
}
/* .btn {

} */
.main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    /* flex-basis: 60%;     */
    border-top: 5px solid black;
    flex: 3;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 20%;
    /* flex: 1; */
}
.card-container {
    width: 58%;
}
.current-cards {
    /* flex: 4; */
    display: flex;
    flex-direction: column;
    /* flex-basis: 60%; */
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}
.left {
    display: flex;
    flex-flow: column wrap;
    border-right: 5px solid black;
    /* flex: 1; */
}
.right {
    /* background-color: blue; */
    justify-content: space-evenly;
}
.column-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    /* align-self: flex-start; */
}
.menu {
    display: flex;
    flex: 9;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    /* flex-basis: 20%; */
    border-top: 5px solid black;
}
.deck-scroll{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    /* flex: 1     */
    }
.card {
    display: flex;
    width: 30%;
    /* height: 100%; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding: auto; */
    background-color: aquamarine;
}
.card:hover {
    border: 2px dotted black;
    /* border-radius: 10px solid black; */
    /* border-top: none; */
    /* border-bottom: none; */
}
/* .preview {
    background-color: blue;

} */
.scroll-left, .scroll-right {
    flex-grow: 1;
}
/* .scroll-left {
    border-right: 10px;
} */

.question{
    visibility: hidden;
}
.answer {
    visibility: visible;
}
